/* usa este fichero para personalizar tus vistas */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Filas impares */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2d2;
  }
  
  /* Encabezado de la tabla */
  th {
    background-color: #070707;
    color: white;
  }
  
  /* Primera columna de la tabla */
  td:first-child {
    font-weight: bold;
  }  

button {
    background-color: #ff3700;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-custom {
    background-color: #ff3700;
    border-color: #ff3700;
    color: white; /* Cambia el color del texto para que sea legible */
}

.btn-jornada {
    background-color: rgb(147, 250, 147);
    border-color: black;
    color: black; /* Cambia el color del texto para que sea legible */
    border-radius: 20px;
}

.btn-custom:hover {
    background-color: #e62b00; /* Color de fondo cuando se pasa el ratón por encima */
    border-color: #e62b00;
    color: white;
}
.formato-mensaje{
    border: 4px solid #ff3700;
    background-color: white;
    font-size: medium;
    color: black;

}



.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: red;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

.filtros_mercado {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 5.5vh;
    justify-content: space-between;
    background-color: #070506;
    align-items: center;
}
    .boton_filtros {
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        background-color: #ff3700;
        color: white;
        border: none;
        width: 7%;
        min-width: 100px;
    }

    .filtros_posicion {
        display: flex;
        gap: 5px;
    }
        .boton_posicion {
            background-color: #ff3700;
            color: white;
            border: none;
        }

.jugadores_mercado {
    height: calc(100vh - 22.5vh);
    display: inline-block;
    overflow: auto;
    padding-right: 10px;
    padding-left: 10px;
    scrollbar-width: none;
}

    .div_jugador {
        background-color: white;
        border: 1px solid rgb(255, 0, 0);
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 10px;
    }

        .imagen_jugador {
            /* width: 15%; */
            border-color: black;
        }

        .info_jugador {
            display: block;
        }

        .promedio_valor {
            width: 10%;
        }

th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.recuadro{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#navegador table {
    display: inline-block; 
    vertical-align: top; 
    margin-right: 20px; 
}

#navegador th,
#navegador td {
    text-align: center;
}

.jornadas {
    display: flex;
    overflow-x: auto; /* Hace que el contenedor sea scrollable horizontalmente */
    gap: 0; /* Elimina el espacio entre los elementos */
}

.form-jornada {
    margin-right: 10px; /* Agrega un espacio entre los botones */
}


.ultimosPartidos p {
    display: inline-block; /* Hace que los párrafos estén en la misma línea */
    margin-right: 5px; /* Añade un pequeño margen entre los párrafos */
    text-align: center; /* Alinea el texto al centro */
    padding: 0 5px; /* Espaciado entre el borde y el texto */
    border-right: 1px solid black; /* Borde derecho para separación */
    border-left: 1px solid black; /* Borde derecho para separación */
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.card {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-title:hover {
    color: #ff3700; /* Al pasar el ratón por encima el texto se pone negro*/
}

.card-text {
    margin-bottom: 5px;
}

.card-body {
    padding: 20px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.card-img {
    max-width: 100px; /* Ajusta el ancho máximo de la imagen */
    height: auto;
    border-radius: 5px;
    margin-right: 20px; /* Espacio entre la imagen y los otros elementos */
}

.equipo-imagen {
    width: 50px; 
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen del equipo y la información del jugador */
}

/*Estilos para la clasificación dentro de una liga*/
.infoEquipo {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    height: 45px;
    margin: 5px;
    border-radius: 10px;
}

.posicionEquipo,
.nombreEquipo,
.dueñoEquipo,
.puntosEquipo {
    flex: 1;
    padding: 5px;
    text-align: center;
}

.posicionEquipo {
    text-align: left;
}

.nombreEquipo {
    font-weight: bold;
    text-align: left;
}

.dueñoEquipo {
    color: grey;
}

.puntosEquipo {
    font-weight: bold;
}

/*Estilo de la página de un jugador*/
.cabeceraJugador {
    display: flex;
    margin-bottom: 10px;
}

.infoPersonal{
    justify-content: center;
    align-items: center;
}

.nombreJugador {
    font-weight: bold;
    font-size: 1.125rem;
}

.promediosTemporada{
    display: block;
    background-color: lightgray;
    font-weight: bold;
}

.tituloPromedios{
    text-align: center;
}

/*Estilo de la página de mi Eqiuipo*/

.info_jugador{
    justify-content: center;
    align-items: center;
}

.ultimosPartidos{
    justify-content: center;
    align-items: center;
}


.jugadores_mercado{
    margin-top: 2px; 
    display: block;
    background-color: lightgray;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
}

.jornadas {
    border: 1px solid black;
    background-color: rgb(122, 224, 255);
    border-radius: 10px;
}
