<!-- <!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Foro de Mensajes</title>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/websocket-endpoint');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Conectado: ' + frame);
                stompClient.subscribe('/topic/mensajes', function(message) {
                    mostrarMensaje(JSON.parse(message.body));
                });
            });
        }

        function mostrarMensaje(mensaje) {
            var mensajeHTML = '<div>' + mensaje.sender + ': ' + mensaje.text + '</div>';
            document.getElementById('mensajes').innerHTML += mensajeHTML;
        }

        function enviarMensaje() {
            var usuario = document.getElementById('sender').value;
            var contenido = document.getElementById('text').value;
            var mensaje = { usuario: usuario, contenido: contenido };
            stompClient.send("/app/enviar-mensaje", {}, JSON.stringify(mensaje));
        }
    </script>
</head>

<body onload="connect()" class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <div id="mensajes"></div>
    <input type="text" id="sender" placeholder="Usuario">
    <input type="text" id="text" placeholder="Mensaje">
    <button onclick="enviarMensaje()">Enviar</button>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html> -->
<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Foros de mis ligas</title>
</head>
<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <th:block th:if="${ligas.empty}">
                <p>No te has unido a ninguna liga todavía.</p>
            </th:block>
            <th:block th:if="${not ligas.empty}">
                <h1>Foros</h1>             
                <div class="row">
                    <div th:each="liga : ${ligas}" class="col-md-6">
                        <div class="card">                                               
                            <div class="card-body d-flex flex-column align-items-center">
                                <div class="head-title row align-center">
                                    <a class="card-title" th:href="@{/foro/{id}(id=${liga.id})}">
                                        <span th:text="${liga.nombreLiga}"> </span>
                                    </a> 
                                </div>                                                             
                            </div>
                        </div>
                    </div>
                </div>      
            </th:block>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />

   
</body>
</html>
