<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Admin</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración</h1>
            <div class="infoMensaje" th:each="mensaje : ${reportados}">
                <p class="textoFrom" th:text="${mensaje.sender.getUsername()}  + ':'">Emisor</p>
                <p class="textoMensaje" th:text="${mensaje.text}">Texto</p>
                <input type="hidden" id="idMensaje" name="idMensaje" th:value="${mensaje.id}" />
                <form class="form-signin" method="post" th:action="@{/admin/validarMensaje}">
                    <input type="hidden" id="idMensaje" name="idMensaje" th:value="${mensaje.id}" />
                    <button class="Foroboton" type="submit" name="formType" value="validar mensaje">Validar mensaje</button>
                </form>
                <form class="form-signin" method="post" th:action="@{/admin/eliminarMensaje}">
                    <input type="hidden" id="idMensaje" name="idMensaje" th:value="${mensaje.id}" />
                    <button class="Foroboton" type="submit" name="formType" value="eliminar mensaje">Eliminar mensaje</button>
                </form>
            </div>
            <form class="form-signin" method="post" th:action="@{/admin/avanzarJornada}">
                <button class="btn btn-lg btn-custom btn-block" id="avanzarJornada" type="submit" name="formType" value="avanzarJornada">Avanzar jornada</button>
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>