<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Añadir jornadas</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Sube los con los datos de las jornadas a añadir</h1>
            <div>
                <p>Sube los archivos jornada_acb.json y puntos_jugador.json para añadir a la aplicación la información correspondiente.</p>
                <p>Añadir estos datos tendrán los siguientes efectos:</p>
                <ul>
                    <li>La jornada actual no se modificará</li>
                    <li>Para cada equipo y cada jugador se añadirán los datos correspondientes a las nuevas jornadas insertadas que no se hayan jugado, es decir si estamos en la jornada 5 solo se insertarán datos de las jornadas mayores que 5</li>
                    <li>Los equipos de los usuarios no se verán afectados de ninguna manera</li>
                </ul>
            </div>
            <div class="my-3"></div> <!-- Espacio vertical -->

            <div id="profile" class="border border-2 border-tertiary rounded">
                <input type="file" id="bdfiles" accept="application/json" multiple>
                <form class="form-signin" method="post" th:action="@{/admin/añadirJornadas}">
                    <button class="btn btn-lg btn-custom btn-block" id="añadirJornadas" type="submit" name="formType" value="añadirJornadas">Añadir jornadas</button>
                </form>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>