<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Clasificación</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Clasificación de ligas</h1>
            <!-- Verificar si el usuario se ha unido a alguna liga -->
            <th:block th:if="${equipos.empty}">
                <p>No te has unido a ninguna liga todavía.</p>
            </th:block>
            <th:block th:if="${not equipos.empty}">
                <!-- Mostrar la tabla si el usuario se ha unido a alguna liga -->
                <table>
                    <thead>
                        <tr>
                            <th>Liga</th>
                            <th>Equipo</th>
                            <th>Posición</th>
                            <th>Dinero</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Iterar sobre la lista de ligas y tal -->
                        <tr th:each="equipo : ${equipos}">
                            <td>
                                <a th:if="${equipo.liga != null}" th:href="@{/liga/{id}(id=${equipo.liga.id})}" th:text="${equipo.liga.getNombreLiga()}"></a>
                                <span th:unless="${equipo.liga != null}" th:text=""></span>
                            </td>
                            <td th:text="${equipo.teamname}"></td>
                            <td th:text="${posiciones[equipo.teamname]}"></td>
                            <td th:text="${equipo.dinero}"></td>
                        </tr>
                    </tbody>
                </table>
            </th:block>
            <a th:href="@{/crearliga}"><button class="btn btn-lg btn-custom btn-block" type="submit">Crear liga</button></a>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>
