<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Clasificación</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Crea una liga</h1>
        </div>
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/crearliga}">
                <p th:if="${error}" class="error" th:text="${error}">
                    Nombre de liga ya existente
                </p>
                <p>
                    <label for="nombreliga" class="visually-hidden">Nombre de la liga</label>
                    <input type="text" id="nombreliga" name="nombreliga" class="form-control" placeholder="Nombre" required="required">
                </p>
                <p>
                    <label for="password" class="visually-hidden">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
                </p>
                <label for="publica" class="visually-hidden">Pública</label>
                <input type="checkbox" id="publica" name="publica" class="form-check" th:checked="${publica}" required="required">
                <button class="btn btn-lg btn-custom btn-block" type="submit">Crear</button>
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>