<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mi equipo</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <h1>
            <a th:href="@{/MiEquipo/{idEquipo}(idEquipo=${equipo.id})}" th:text="${equipo.teamname}">
                Nombre equipo
            </a>
        </h1>
        <h1>Puntos conseguidos: <span th:text="${equipoJornada.puntos}">Puntos</span></h1>
        <div class="container">
            <div class="jornadas" th:if="${jornada > 1}">
                <th:block th:each="jornadaJugada : ${#numbers.sequence(1, jornada - 1)}">
                    <form class="form-jornada" method="post" th:action="@{/equipoJornada}">
                        <input type="hidden" name="jornadaJugada" th:value="${jornadaJugada}">
                        <input type="hidden" name="idequipo" th:value="${idequipo}">
                        <button class="btn btn-jornada" type="submit" th:text="${'J' + jornadaJugada}"></button>
                    </form>
                </th:block>
            </div>
            <div class="jugadores_mercado">
                <h1>Bases</h1>
                <div th:each="jugador : ${bases}" class="div_jugador">
                    <div class="imagen_jugador">
                        <img th:src="@{'/img/jugadores/' + ${jugador.nombre} + '.jpg'}"/>
                    </div>
                    <div class="info_jugador">
                        <h2 th:text="${jugador.nombre}">Nombre jugador</h2>
                        <p th:text="${jugador.posicion}">Posición jugador</p>
                    </div>
                    <div class="promedio_valor">
                        <p th:text="${jugador.valoracion}">Valoración en la jornada</p>
                    </div>
                </div>
                <h1>Aleros</h1>
                <div th:each="jugador : ${aleros}" class="div_jugador">
                    <div class="imagen_jugador">
                        <img th:src="@{'/img/jugadores/' + ${jugador.nombre} + '.jpg'}"/>
                    </div>
                    <div class="info_jugador">
                        <h2 th:text="${jugador.nombre}">Nombre jugador</h2>
                        <p th:text="${jugador.posicion}">Posición jugador</p>
                    </div>
                    <div class="promedio_valor">
                        <p th:text="${jugador.valoracion}">Valoración en la jornada</p>
                    </div>
                </div>
                <h1>Pivots</h1>
                <div th:each="jugador : ${pivots}" class="div_jugador">
                    <div class="imagen_jugador">
                        <img th:src="@{'/img/jugadores/' + ${jugador.nombre} + '.jpg'}"/>
                    </div>
                    <div class="info_jugador">
                        <h2 th:text="${jugador.nombre}">Nombre jugador</h2>
                        <p th:text="${jugador.posicion}">Posición jugador</p>
                    </div>
                    <div class="promedio_valor">
                        <p th:text="${jugador.valoracion}">Valoración en la jornada</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>