<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Clasificación</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 th:href="@{/foro/{id}(id=${liga.id})}">
                <span th:text="${liga.nombreLiga}"></span>
            </h1>
        </div>
        <div class="container">
            <p th:if="${error}" class="error" th:text="${error}">
                Error en el foro
            </p>
            <p th:if="${mensajeReportado}" class="error" th:text="${mensajeReportado}">
                Mensaje reportado
            </p>
            <div class="py-5 row" id="mensajes">
            </div>
            <form class="infoEquipo" method="post" th:action="@{/foro/{id}(id=${liga.id})}">
                <label for="message" class="visually-hidden">Mensaje</label>
                <input type="textarea" id="message" name="message" class="form-control" placeholder="Mensaje" required="required" maxlength="257">
                <button id="sendmsg" class="Foroboton" type="submit">Publicar</button>
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/ajax-demo.js}"></script>

</body>


</html>