<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Clasificación</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Foro</h1>
        </div>
        <div class="container">
            <th:block th:if="${mensajes.empty}"><p>Foro vacio</p></th:block>
            <div class="py-5 row" id="mensajes">
            </div>
            <form class="form-signin" method="post" th:action="@{/foro/{id}(id=${liga.id})}">
                <p th:if="${error}" class="error" th:text="${error}">
                    Error en el foro
                </p>
                <label for="message" class="visually-hidden">Mensaje</label>
                <input type="text" id="message" name="message" class="form-control" placeholder="Mensaje" required="required">
                <button id="sendmsg" class="btn btn-lg btn-custom btn-block" type="submit">Publicar</button>
            </form>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>

</body>

 
</script>

</html>