<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Welcome</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Bienvenido a SuperManager ACB</h1>
            <th:block th:if="${nombreUsuario}">
                <div class="usuario-info">
                    <p>Usuario: <span th:text="${nombreUsuario}" id="nombre-usuario">Nombre de Usuario</span></p>
                </div>
            </th:block>
            <div class="calendario">
                <h2>Clasificación ACB</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Equipo</th>
                            <th>Posición</th>
                            <th>Partidos jugados</th>
                            <th>Victorias</th>
                            <th>Derrotas</th>
                            <th>Puntos a favor</th>
                            <th>Puntos en contra</th>
                            <th>Dif.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="equipo, index : ${equipos}">
                            <td>
                                <img th:src="@{'img/equipos/' + ${equipo.nombreEquipo} + '.jpg'}"/>
                                <span th:text="${equipo.nombreEquipo}"></span>
                            </td>
                            <td th:text="${index.index + 1}"></td>
                            <td th:text="${equipo.victorias + equipo.derrotas}"></td>
                            <td th:text="${equipo.victorias}"></td>
                            <td th:text="${equipo.derrotas}"></td>
                            <td th:text="${equipo.puntosAFavor}"></td>
                            <td th:text="${equipo.puntosEnContra}"></td>
                            <td th:text="${equipo.diferencia}"></td>
                        </tr>
                    </tbody>
                </table>

                <h2 style="margin-top: 20px;"> Calendario - Próxima jornada: <span class="prox-jornada" th:text="${jornada}"></span></h2>
                <div class="lista-partidos">
                    <div class="partido" th:each="partido : ${partidos}">
                        <div class="partido-info">
                            <img th:src="@{'img/equipos/' + ${partido.local} + '.jpg'}"/>
                            <span class="equipo-local" th:text="${partido.local}"></span>
                            <span><strong>vs</strong></span>
                            <span class="equipo-visitante" th:text="${partido.visitante}"></span>
                            <img th:src="@{'img/equipos/' + ${partido.visitante} + '.jpg'}"/>
                        </div>
                    </div>
                </div>

                <th:block th:if="${jornada &gt; 1}">
                    <h2 style="margin-top: 20px;"> Resultados - Última jornada: <span class="ant-jornada" th:text="${jornada-1}"></span></h2>
                    <div class="lista-partidos">
                        <div class="partido" th:each="partidoa : ${partidosant}">
                            <div class="partido-info">
                                <img th:src="@{'img/equipos/' + ${partidoa.local} + '.jpg'}"/>
                                <span class="equipo-local" th:text="${partidoa.local}"></span>
                                <span class="equipo-local" th:text="${partidoa.puntosLocal}"></span>
                                <span><strong>-</strong></span>
                                <span class="equipo-local" th:text="${partidoa.puntosVisitante}"></span>
                                <span class="equipo-visitante" th:text="${partidoa.visitante}"></span>
                                <img th:src="@{'img/equipos/' + ${partidoa.visitante} + '.jpg'}"/>
                            </div>
                        </div>
                    </div>
                </th:block>
                
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>