<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mercado</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Mercado</h1>
            <div class="filtros_mercado">
                <button class="boton_filtros">
                    <i class="fas fa-filter"></i>
                    Filtros
                    <i class="fas fa-angle-down"></i>
                </button>
                <form method="post" th:action="@{/mercado}">
                    <input type="text" id="buscador" name="buscar" placeholder="Buscar jugador por nombre">
                    <button type="submit">Buscar</button>
                </form>
                <div id="filtros_posicion">
                    <form method="post" th:action="@{/mercado}">
                        <button type="submit" name="posicion" value="Base" class="boton_posicion">Base</button>
                        <button type="submit" name="posicion" value="Alero" class="boton_posicion">Alero</button>
                        <button type="submit" name="posicion" value="Pivot" class="boton_posicion">Pivot</button>
                    </form>
                </div>
            </div>
            
            <div class = "jugadores_mercado"> 
                <div th:each="jugador : ${jugadores}" >
                    <div class = "card" style="width: 35rem;">                                                  
                        <div class="card-body d-flex align-items-center">
                            <div class="mr-3">
                                <img class="card-img" th:src="@{'/img/jugadores/' + ${jugador.nombre} + '.jpg'}" alt="Imagen del jugador" /></img> 
                            </div>

                            <div>
                                <a th:href="@{/jugador/{idJugador}(idJugador=${jugador.id})}" th:text="${jugador.nombre}" class="card-title"></a>
                                <p class = "card-text">Equipo: <span th:text="${jugador.equipo}">Equipo</span></p>
                                <img class="equipo-imagen" th:src="@{'/img/equipos/' + ${jugador.equipo} + '.jpg'}" alt="Imagen del equipo" />

                                <p class = "card-text">Posición: <span th:text="${jugador.posicion}">Jugador</span></p>
                                <p class = "card-text">Últimos partidos</p>
                                <div class = "ultimosPartidos">
                                    <p class = "card-text" th:each="valoracion : ${ultimosPartidos[jugador.nombre]}" th:text="${valoracion}">Valoracion</p>
                                </div>                            
                                
                                <p class = "card-text">prom. <span th:text="${jugador.partidosJugados != 0 ? jugador.puntosTotales / jugador.partidosJugados : '0'}">Promedio de puntos</span></p>
                                <span th:text="${jugador.valorMercado} + '&euro;'">Valor de mercado</span>

                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
                    
                
            
    </main>

    <th:block th:replace="fragments/footer.html :: footer"/>

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>