<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mi equipo</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <p th:if="${error}" class="error" th:text="${error}">
            Eres pobre, no tienes dinero
        </p>
        <div class="container">
            <h1 th:text="${equipo.teamname}">Nombre equipo</h1>
            <h2>Dinero: <span th:text="${equipo.dinero}">Dinero equipo</span></h2>
            <div class="jornadas" th:if="${jornada > 1}">
                <h4>Últimas jornadas </h4>
                <th:block th:each="jornadaJugada : ${#numbers.sequence(1, jornada - 1)}">
                    <form class="form-jornada" method="post" th:action="@{/equipoJornada}">
                        <input type="hidden" name="jornadaJugada" th:value="${jornadaJugada}">
                        <input type="hidden" name="idequipo" th:value="${idequipo}">
                        <button class="btn btn-jornada" type="submit" th:text="${'J' + jornadaJugada}"></button>
                    </form>
                </th:block>
            </div>
            <div class="jugadores_mercado">
                <h1>Bases</h1>
                <div th:each="jugador : ${bases}" class="div_jugador">
                    <div class="imagen_jugador">
                        <img th:src="@{'/img/jugadores/' + ${jugador.nombre} + '.jpg'}"/>
                    </div>
                    <div class="info_jugador">                        
                        <a th:href="@{/jugador/{idJugador}(idJugador=${jugador.id})}" th:text="${jugador.nombre}">
                            Nombre jugador
                        </a>    
                        <p th:text="${jugador.posicion}">Posición jugador</p>
                        <p>Últimos partidos</p>
                        <div class = "ultimosPartidos">
                            <p th:each="valoracion : ${ultimosPartidos[jugador.nombre]}" th:text="${valoracion}">Valoracion</p>
                        </div>
                    </div>
                    <div class="promedio_valor">
                        <p>Promedio de puntos: <span th:text="${jugador.partidosJugados != 0 ? jugador.puntosTotales / jugador.partidosJugados : '0'}"></span></p>
                        <p>Valor de mercado: <span th:text="${jugador.valorMercado}"></span></p>
                    </div>
                    <div>
                        <form class="form-signin" method="post" th:action="@{/vender}">
                            <input type="hidden" name="formType" value="venderBases">
                            <input type="hidden" name="idequipo" th:value="${idequipo}">
                            <input type="hidden" name="jugador" th:value="${jugador.nombre}">
                            <button class="btn btn-lg btn-custom btn-block" type="submit">Vender</button>
                        </form>
                    </div>
                </div>
                <th:block th:if="${bases.size &lt; 2}">
                    <form class="form-signin" method="post" th:action="@{/fichar}">
                        <input type="hidden" name="formType" value="ficharBases">
                        <input type="hidden" name="idequipo" th:value="${idequipo}">
                        <button class="btn btn-lg btn-custom btn-block" type="submit">Fichar</button>
                    </form>
                </th:block>
                <h1>Aleros</h1>
                <div th:each="jugador : ${aleros}" class="div_jugador">
                    <div class="imagen_jugador">
                        <img th:src="@{'/img/jugadores/' + ${jugador.nombre} + '.jpg'}"/>
                    </div>
                    <div class="info_jugador">
                        <a th:href="@{/jugador/{idJugador}(idJugador=${jugador.id})}" th:text="${jugador.nombre}">
                            Nombre jugador
                        </a>
                        <p th:text="${jugador.posicion}">Posición jugador</p>
                        <p>Últimos partidos</p>
                        <div class = "ultimosPartidos">
                            <p th:each="valoracion : ${ultimosPartidos[jugador.nombre]}" th:text="${valoracion}">Valoracion</p>
                        </div>
                    </div>
                    <div class="promedio_valor">
                        <p>Promedio de puntos: <span th:text="${jugador.partidosJugados != 0 ? jugador.puntosTotales / jugador.partidosJugados : '0'}"></span></p>
                        <p>Valor de mercado: <span th:text="${jugador.valorMercado}"></span></p>
                    </div>
                    <div>
                        <form class="form-signin" method="post" th:action="@{/vender}">
                            <input type="hidden" name="formType" value="venderAleros">
                            <input type="hidden" name="idequipo" th:value="${idequipo}">
                            <input type="hidden" name="jugador" th:value="${jugador.nombre}">
                            <button class="btn btn-lg btn-custom btn-block" type="submit">Vender</button>
                        </form>
                    </div>
                </div>
                <th:block th:if="${aleros.size &lt; 4}">
                    <form class="form-signin" method="post" th:action="@{/fichar}">
                        <input type="hidden" name="formType" value="ficharAleros">
                        <input type="hidden" name="idequipo" th:value="${idequipo}">
                        <button class="btn btn-lg btn-custom btn-block" type="submit">Fichar</button>
                    </form>
                </th:block>
                <h1>Pivots</h1>
                <div th:each="jugador : ${pivots}" class="div_jugador">
                    <div class="imagen_jugador">
                        <img th:src="@{'/img/jugadores/' + ${jugador.nombre} + '.jpg'}"/>
                    </div>
                    <div class="info_jugador">
                        <a th:href="@{/jugador/{idJugador}(idJugador=${jugador.id})}" th:text="${jugador.nombre}">
                            Nombre jugador
                        </a>
                        <p th:text="${jugador.posicion}">Posición jugador</p>
                        <p>Últimos partidos</p>
                        <div class = "ultimosPartidos">
                            <p th:each="valoracion : ${ultimosPartidos[jugador.nombre]}" th:text="${valoracion}">Valoracion</p>
                        </div>
                    </div>
                    <div class="promedio_valor">
                        <p>Promedio de puntos: <span th:text="${jugador.partidosJugados != 0 ? jugador.puntosTotales / jugador.partidosJugados : '0'}"></span></p>
                        <p>Valor de mercado: <span th:text="${jugador.valorMercado}"></span></p>
                    </div>
                    <div>
                        <form class="form-signin" method="post" th:action="@{/vender}">
                            <input type="hidden" name="formType" value="venderPivots">
                            <input type="hidden" name="idequipo" th:value="${idequipo}">
                            <input type="hidden" name="jugador" th:value="${jugador.nombre}">
                            <button class="btn btn-lg btn-custom btn-block" type="submit">Vender</button>
                        </form>
                    </div>
                </div>
                <th:block th:if="${pivots.size &lt; 4}">
                    <form class="form-signin" method="post" th:action="@{/fichar}">
                        <input type="hidden" name="formType" value="ficharPivots">
                        <input type="hidden" name="idequipo" th:value="${idequipo}">
                        <button class="btn btn-lg btn-custom btn-block" type="submit">Fichar</button>
                    </form>
                </th:block>
            </div>
        </div>
        
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>
