<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Usuario</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Mi perfil</h1>

            <div id="profile" class="border border-2 border-tertiary rounded">
                <p> <strong>Nombre: </strong> <span th:text="${user.firstName}">No se ha puesto nombre</span></p>
                <p> <strong>Apellido: </strong> <span th:text="${user.lastName}">No se ha puesto nombre</span></p>
                <a class = "enlace" th:href="@{/user/__${user.id}__/profile}">Hacer click para cambiar informacion</a>
            </div>

            <div id="profile" class="border border-2 border-tertiary rounded">
                <input type="file" id="f_avatar" accept="image/jpeg,image/png">
                <img class="preview" id="avatar" alt="careto a subir" />
                <form th:action="@{/user/__${user.id}__/pic}">
                    <button id="postAvatar">Usar como foto de perfil</button>
                </form>
            </div>
        </div>
        

        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>