<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Equipos</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Listado de usuarios</h1>
            <th:block th:if="${not usuarios.empty}">
                <div class="infoUsuario" th:each="usuario : ${usuarios}">
                    <div class="nombreusuario">
                        <a th:href="@{/perfilPublico/{id}(id=${usuario.id})}" th:text="${usuario.username}">Nombre usuario</a>
                    </div>                    
                    <div class="estadoUsuario">
                        <span th:text="${usuario.enabled ? 'Usuario válido' : 'Baneado'}">Estado usuario</span>
                    </div>
                    <form th:if="${!usuario.enabled}" class="form-signin" th:method="post" th:action="@{/admin/desbanearUsuario}">
                        <input type="hidden" id="idUsuario" name="idUsuario" th:value="${usuario.id}"/>
                        <button class="Foroboton" type="submit">Desbanear usuario</button>
                    </form>
                    <form class="form-signin" method="post" th:action="@{/admin/banearUsuario}">
                        <input type="hidden" id="idUsuario" name="idUsuario" th:value="${usuario.id}" />
                        <button class="Foroboton" type="submit" name="formType" value="banear usuario">Banear usuario</button>
                    </form>
                    <form th:if="${usuario.enabled}" class="form-signin" th:method="get" th:action="@{/admin/mensajesUsuario}">
                        <input type="hidden" id="idUsuario" name="idUsuario" th:value="${usuario.id}"/>
                        <button class="Foroboton" type="submit">Ver mensajes usuario</button>
                    </form>
                </div>
            </th:block>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/ajax-demo.js}"></script>
</body>
</html>
